In [60]:
import pandas as pd
import numpy as np

In [37]:
df = pd.read_csv("verticalized_products.xls - Sheet1.csv")

In [38]:
df.pivot_table(index='Product Name', columns='month')

                                                   Sales                    \
month                                                Apr   Aug   Dec   Feb
Product Name
"While you Were Out" Message Book, One Form per...   976   939  1092   909
#10 Gummed Flap White Envelopes, 100/Box            1121   922  1242  1167
#10 Self-Seal White Envelopes                       1632  1574  1656  1477
#10 White Business Envelopes,4 1/8 x 9 1/2          1132   959  1092  1244
#10- 4 1/8" x 9 1/2" Recycled Envelopes              806   628   859   720
...                                                  ...   ...   ...   ...
iKross Bluetooth Portable Keyboard + Cell Phone...   865   543   759   727
iOttie HLCRIO102 Car Mount                           937   790  1026  1009
iOttie XL Car Mount                                 1204  1050  1259  1085
invisibleSHIELD by ZAGG Smudge-Free Screen Prot...   782   774   858   847
netTALK DUO VoIP Telephone Service                  1328  1030  1276  1212

                                                                            \
month                                                Jan   Jul   Jun   Mar
Product Name
"While you Were Out" Message Book, One Form per...   913   990  1015   916
#10 Gummed Flap White Envelopes, 100/Box            1172  1016  1008  1074
#10 Self-Seal White Envelopes                       1497  1641  1676  1535
#10 White Business Envelopes,4 1/8 x 9 1/2          1196  1008  1020  1186
#10- 4 1/8" x 9 1/2" Recycled Envelopes              783   723   751   772
...                                                  ...   ...   ...   ...
iKross Bluetooth Portable Keyboard + Cell Phone...   792   643   721   819
iOttie HLCRIO102 Car Mount                          1054   890   946   941
iOttie XL Car Mount                                 1071  1098  1112  1161
invisibleSHIELD by ZAGG Smudge-Free Screen Prot...   795   829   825   846
netTALK DUO VoIP Telephone Service                  1137  1094  1192  1259


month                                                May   Nov   Oct   Sep
Product Name
"While you Were Out" Message Book, One Form per...  1045  1055   971   951
#10 Gummed Flap White Envelopes, 100/Box            1094  1111  1077  1000
#10 Self-Seal White Envelopes                       1732  1654  1658  1649
#10 White Business Envelopes,4 1/8 x 9 1/2          1081  1014   959   954
#10- 4 1/8" x 9 1/2" Recycled Envelopes              806   723   716   701
...                                                  ...   ...   ...   ...
iKross Bluetooth Portable Keyboard + Cell Phone...   774   696   605   602
iOttie HLCRIO102 Car Mount                           983   999   928   846
iOttie XL Car Mount                                 1154  1206  1158  1136
invisibleSHIELD by ZAGG Smudge-Free Screen Prot...   859   807   786   785
netTALK DUO VoIP Telephone Service                  1236  1162  1118  1044

[1841 rows x 12 columns]

In [41]:
df2 = pd.read_excel("Sample - Superstore-2.xlsx")
df2.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [68]:
df2.pivot_table(index= ['Category', 'Region',], values=['Sales'], aggfunc=np.sum)

                               Sales
Category        Region
Furniture       Central  163797.1638
                East     208291.2040
                South    117298.6840
                West     252612.7435
Office Supplies Central  167026.4150
                East     205516.0550
                South    125651.3130
                West     220853.2490
Technology      Central  170416.3120
                East     264973.9810
                South    148771.9080
                West     251991.8320

In [85]:
df2.pivot_table(
    index=["Region", "State"],
    columns="Category",
    values=["Sales", "Profit"],
    aggfunc=lambda x: np.max(x) - np.min(x),
    fill_value=0,
)

                                 Profit                                Sales  \
Category                      Furniture Office Supplies Technology Furniture
Region  State
Central Illinois               566.5625       3076.2745   894.4575   911.538
        Indiana                537.8787        793.7160  8399.0850  2676.030
        Iowa                   389.6459         51.8528    57.5838  1393.190
        Kansas                  11.0112        147.6540    63.9082    30.000
        Michigan               698.6279       4946.3700   828.9374  3499.430
        Minnesota              767.3952       4630.4755   273.1790  2561.680
        Missouri               211.3446        754.8128  2300.6681  1014.700
        Nebraska               380.5628        135.8784   743.6883  1320.520
        North Dakota             0.0000        161.2268     0.0000     0.000
        Oklahoma               510.6504        250.2015   373.8272  1775.520
        South Dakota            12.3078        109.7250   131.2830    40.980
        Texas                  479.4744       3905.9642  1984.9795  2451.442
        Wisconsin              671.1462        304.4784   544.1577  2802.020
East    Connecticut            310.2536        144.3546   225.8753  1111.150
        Delaware               315.2361        791.7455  5035.0356  1258.880
        District of Columbia   301.0569         14.8040     0.0000  1229.850
        Maine                    0.0000        120.7930   116.3994     0.000
        Maryland               420.9588       1270.9900   350.5386  1769.340
        Massachusetts          558.2960        503.6078   464.1267  1619.340
        New Hampshire          206.7668        308.8464   504.2837  1032.044
        New Jersey             245.1072        843.1706  2361.0318  2146.620
        New York              1163.3633       1453.1238  3919.4589  4222.544
        Ohio                   883.3714        451.1820  7207.5860  1544.334
        Pennsylvania          1740.5946       1362.0166  1763.7068  4413.214
        Rhode Island           609.0492        581.5660  2590.8970  1590.140
        Vermont                834.3270        405.7566   293.6436  3689.700
        West Virginia            0.0000        216.3840     0.0000     0.000
South   Alabama                313.3616        300.8776  1459.2000  1810.900
        Arkansas               220.3426        841.7516   226.3028  1059.020
        Florida                589.4253       1161.8270  2138.6706  2801.136
        Georgia                371.5310       3177.3616  1439.1430  1621.780
        Kentucky               741.4392        757.4112  1416.5003  2560.540
        Louisiana              342.9958        217.7874   251.4460  1496.510
        Mississippi            386.8416        240.5648   257.2077  2423.920
        North Carolina        1914.6888       1462.8884  4143.7944  4292.932
        South Carolina         418.2296        156.8048   158.1508  1675.280
        Tennessee             1193.2134       1325.0262   496.5736  2304.460
        Virginia               489.9136       1276.4871  2799.9840  2266.700
West    Arizona                919.7802        841.0836   691.4835  1268.358
        California             623.2620       1906.4850  1181.4858  3607.368
        Colorado               935.8920        384.3844  3647.9760  1321.536
        Idaho                  256.5925         64.9585    29.0139  1093.390
        Montana                  0.0000        150.2852  1370.7384     0.000
        Nevada                 429.8994       1644.2913   160.3986  1671.320
        New Mexico              97.2531        137.9688   100.8943   842.470
        Oregon                 533.4204        395.3492   332.4713  1476.008
        Utah                   229.6977        304.9284   448.3074  1381.700
        Washington             702.0648       1061.5722  6763.8144  3389.500
        Wyoming                  0.0000          0.0000     0.0000     0.000


Category                     Office Supplies Technology
Region  State
Central Illinois                    1889.154   2797.584
        Indiana                     2402.680  17497.970
        Iowa                         110.440    197.940
        Kansas                       354.620    239.010
        Michigan                    9890.540   3051.202
        Minnesota                   9446.200    635.910
        Missouri                    4156.410   4878.730
        Nebraska                     745.640   2449.990
        North Dakota                 702.280      0.000
        Oklahoma                    1114.400   1434.420
        South Dakota                 409.780    387.000
        Texas                       3929.628   8154.408
        Wisconsin                   1087.940   1647.770
East    Connecticut                  575.990    817.940
        Delaware                    2930.950  10479.990
        District of Columbia          30.440      0.000
        Maine                        251.480    369.870
        Maryland                    2540.340   1210.850
        Massachusetts               1734.030   1176.800
        New Hampshire                657.120   2219.920
        New Jersey                  2621.360   9068.130
        New York                    4353.928  11196.998
        Ohio                        1004.608   4497.015
        Pennsylvania                4662.884   8389.664
        Rhode Island                2077.180   5329.930
        Vermont                     1562.250   1194.770
        West Virginia                441.600      0.000
South   Alabama                      896.460   3014.020
        Arkansas                    1789.680    855.080
        Florida                     1800.465  22636.104
        Georgia                     6353.170   2994.000
        Kentucky                    1575.330   3062.000
        Louisiana                   1661.730    630.900
        Mississippi                  503.950    621.000
        North Carolina              1631.436   7992.060
        South Carolina               881.380    567.040
        Tennessee                   1612.113   2238.352
        Virginia                    4161.210   8729.250
West    Arizona                     1111.616   1872.800
        California                  8186.210   4798.994
        Colorado                    1331.416   2533.993
        Idaho                        473.846    214.806
        Montana                     1119.924   2894.366
        Nevada                      4532.336   2337.820
        New Mexico                   284.070    571.024
        Oregon                       717.560    830.800
        Utah                        1084.790   1483.174
        Washington                  3265.032  13991.968
        Wyoming                        0.000      0.000