#------------------------------- Dataframe Calculations --------------------------------

In [27]:
print('hello world')

hello world

In [28]:
# THIS IS THE MOST IMPORTANT NOTEBOOK IN THIS COURSE

import pandas as pd

In [45]:
# reading a csv table into a variable
superstore = pd.read_csv("Sample - EU Superstore.csv")
# reading the excel table into a variable
orders = pd.read_excel("orders.xlsx")

In [30]:
# from google.colab import drive
# drive.mount('/content/drive')

In [31]:
display(superstore)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,ES-2017-1311038,07/02/2017,11/02/2017,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10000988,Office Supplies,Storage,"Fellowes Folders, Blue",79.20,3,0.0,39.60
1,2,ES-2017-1311038,07/02/2017,11/02/2017,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004144,Technology,Accessories,"SanDisk Numeric Keypad, Bluetooth",388.92,7,0.0,0.00
2,3,ES-2017-1311038,07/02/2017,11/02/2017,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-LA-10001915,Office Supplies,Labels,"Avery Legal Exhibit Labels, 5000 Label Set",35.19,3,0.0,16.11
3,4,ES-2017-1311038,07/02/2017,11/02/2017,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10004550,Office Supplies,Storage,"Fellowes Folders, Wire Frame",50.94,2,0.0,13.20
4,5,ES-2017-1311038,07/02/2017,11/02/2017,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004068,Technology,Accessories,"Memorex Memory Card, USB",307.44,3,0.0,73.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,ES-2014-3780358,16/11/2014,19/11/2014,First Class,CC-12100,Chad Cunningham,Home Office,Rovigo,Veneto,Italy,South,OFF-BI-10000346,Office Supplies,Binders,"Ibico 3-Hole Punch, Clear",59.82,2,0.0,23.88
9996,9997,ES-2015-5371207,25/01/2015,29/01/2015,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,OFF-BI-10002083,Office Supplies,Binders,"Acco Hole Reinforcements, Economy",6.66,1,0.0,0.57
9997,9998,ES-2015-5371207,25/01/2015,29/01/2015,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,OFF-SU-10003211,Office Supplies,Supplies,"Acme Ruler, Steel",96.66,6,0.0,28.98
9998,9999,ES-2015-5371207,25/01/2015,29/01/2015,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,TEC-PH-10001664,Technology,Phones,"Motorola Office Telephone, VoIP",502.95,7,0.0,221.13
9999,10000,ES-2015-5371207,25/01/2015,29/01/2015,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,OFF-AR-10001228,Office Supplies,Art,"Stanley Markers, Water Color",152.28,6,0.0,50.22

# Slicing

In [32]:
# shows the first 5 rows of the table
superstore.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,ES-2017-1311038,07/02/2017,11/02/2017,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10000988,Office Supplies,Storage,"Fellowes Folders, Blue",79.20,3,0.0,39.60
1,2,ES-2017-1311038,07/02/2017,11/02/2017,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004144,Technology,Accessories,"SanDisk Numeric Keypad, Bluetooth",388.92,7,0.0,0.00
2,3,ES-2017-1311038,07/02/2017,11/02/2017,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-LA-10001915,Office Supplies,Labels,"Avery Legal Exhibit Labels, 5000 Label Set",35.19,3,0.0,16.11
3,4,ES-2017-1311038,07/02/2017,11/02/2017,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10004550,Office Supplies,Storage,"Fellowes Folders, Wire Frame",50.94,2,0.0,13.20
4,5,ES-2017-1311038,07/02/2017,11/02/2017,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004068,Technology,Accessories,"Memorex Memory Card, USB",307.44,3,0.0,73.71

In [33]:
#shows the last 10 rows of the table
superstore.tail(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9990,9991,ES-2017-5488768,07/02/2017,10/02/2017,First Class,SN-20710,Steve Nguyen,Home Office,Northampton,England,United Kingdom,North,FUR-CH-10002373,Furniture,Chairs,"Office Star Rocking Chair, Set of Two",429.480,3,0.0,17.100
9991,9992,ES-2017-4951531,17/09/2017,21/09/2017,Second Class,JF-15565,Jill Fjeld,Consumer,Preston,England,United Kingdom,North,FUR-BO-10002003,Furniture,Bookcases,"Sauder Classic Bookcase, Metal",870.900,2,0.0,130.620
9992,9993,ES-2017-2785118,14/04/2017,17/04/2017,Second Class,JH-16180,Justin Hirsh,Consumer,Castelnau-le-Lez,Languedoc-Roussillon-Midi-Pyrénées,France,Central,OFF-PA-10001661,Office Supplies,Paper,"SanDisk Computer Printout Paper, 8.5 x 11",169.650,5,0.0,18.600
9993,9994,ES-2016-2993189,02/07/2016,08/07/2016,Standard Class,CR-12820,Cyra Reiten,Home Office,Avignon,Provence-Alpes-Côte d'Azur,France,Central,OFF-ST-10001255,Office Supplies,Storage,"Fellowes Trays, Single Width",51.678,1,0.1,22.968
9994,9995,IT-2017-5726048,24/11/2017,27/11/2017,Second Class,DK-12985,Darren Koutras,Consumer,Dublin,Dublin,Ireland,North,OFF-AR-10000715,Office Supplies,Art,"Boston Markers, Blue",26.370,2,0.5,-4.770
9995,9996,ES-2014-3780358,16/11/2014,19/11/2014,First Class,CC-12100,Chad Cunningham,Home Office,Rovigo,Veneto,Italy,South,OFF-BI-10000346,Office Supplies,Binders,"Ibico 3-Hole Punch, Clear",59.820,2,0.0,23.880
9996,9997,ES-2015-5371207,25/01/2015,29/01/2015,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,OFF-BI-10002083,Office Supplies,Binders,"Acco Hole Reinforcements, Economy",6.660,1,0.0,0.570
9997,9998,ES-2015-5371207,25/01/2015,29/01/2015,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,OFF-SU-10003211,Office Supplies,Supplies,"Acme Ruler, Steel",96.660,6,0.0,28.980
9998,9999,ES-2015-5371207,25/01/2015,29/01/2015,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,TEC-PH-10001664,Technology,Phones,"Motorola Office Telephone, VoIP",502.950,7,0.0,221.130
9999,10000,ES-2015-5371207,25/01/2015,29/01/2015,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,OFF-AR-10001228,Office Supplies,Art,"Stanley Markers, Water Color",152.280,6,0.0,50.220

In [34]:
# this returns an iterable columns object
superstore.columns
list(superstore.columns)

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'City',
 'State',
 'Country',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [35]:
# this returns an iterable index object
superstore.index
list(superstore.index)

#list(orders.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [36]:
# how can I slice one or more columns

# slicing one column
superstore["City"]

0         Leeds
1         Leeds
2         Leeds
3         Leeds
4         Leeds
         ...
9995     Rovigo
9996    Hamburg
9997    Hamburg
9998    Hamburg
9999    Hamburg
Name: City, Length: 10000, dtype: object

In [37]:
#Slicing multiple columns

superstore[['City', 'Country','Region']]

         City         Country   Region
0       Leeds  United Kingdom    North
1       Leeds  United Kingdom    North
2       Leeds  United Kingdom    North
3       Leeds  United Kingdom    North
4       Leeds  United Kingdom    North
...       ...             ...      ...
9995   Rovigo           Italy    South
9996  Hamburg         Germany  Central
9997  Hamburg         Germany  Central
9998  Hamburg         Germany  Central
9999  Hamburg         Germany  Central

[10000 rows x 3 columns]

# Basic exploration & computation

In [38]:
#some useful column methods
# unique method of pandas
# superstore['Country'].nunique()
# superstore['Country'].unique()
# superstore['Country'].value_counts()

In [39]:
# some useful column aggregations

# the sale with the highest value?
superstore['Sales'].max()

# what's the average sales value?
superstore[['Sales','Profit']].mean()

Sales     293.808906
Profit     37.282974
dtype: float64

In [43]:
#on a Dataframe, a column aggregation function applies to all columns
superstore.max()

In [44]:
# but only on the columns where it makes sense
# superstore.mean()

In [42]:
# We can do computations over columns
# Let's calculate the unitary price (anyone has an idea how can we do this)
superstore['Sales']/superstore['Quantity']

#and store the result in a new column
superstore['Unitary price'] = superstore['Sales']/superstore['Quantity']
display(superstore[['Unitary price','Sales','Quantity']].head())

#we can also do comparisons
superstore['Large sale'] = superstore['Sales']>100 # create a boolean mask and save it into a new column
superstore[['Large sale','Sales']].head()

   Unitary price   Sales  Quantity
0          26.40   79.20         3
1          55.56  388.92         7
2          11.73   35.19         3
3          25.47   50.94         2
4         102.48  307.44         3

   Large sale   Sales
0       False   79.20
1        True  388.92
2       False   35.19
3       False   50.94
4        True  307.44

# Filtering & boolean masks

In [ ]:
#a column like the one above (only True/False) is called a Boolean Mask
#Boolean masks are very useful to filter rows in DataFrames
superstore['Sales']>100
condition = superstore['Sales']>100
superstore[condition].head()

In [ ]:
# do it yourself
# find the supersore line with the maximum sales

In [ ]:
#solution
superstore[superstore['Sales'] == superstore['Sales'].max()]

In [ ]:
#Boolean masks can also be combined by boolean operators (and, or, not), which in pandas are denoted by (&,|,~)

superstore['Large Sales'] = superstore['Sales']>superstore['Sales'].mean()
superstore['Large Quantity'] =superstore['Quantity']>5
superstore['Salesmean'] = superstore['Sales'].mean()

superstore[['Sales','Quantity','Salesmean','Large Sales','Large Quantity']].head()

superstore['Large Quantity and Sales'] = (superstore['Quantity']>5) & (superstore['Sales']>superstore['Sales'].mean())
superstore['Large Quantity or Sales'] = (superstore['Quantity']>5) | (superstore['Sales']>superstore['Sales'].mean())
superstore['not Large Quantity'] = ~(superstore['Quantity']>5) # negation of a condition returns the symetric

superstore[['Sales','Quantity','Salesmean','Large Sales','Large Quantity','Large Quantity and Sales','Large Quantity or Sales','not Large Quantity']].head()

In [ ]:
#This means these combinations can be used in filters as well
superstore[(superstore['City']=='Lisbon')].head()
#superstore[(superstore['City']=='Lisbon')&(superstore['Segment']=='Corporate')].head()

In [ ]:
# interview question -> what condition returns more rows? and conditon vs or condition

# Binning

In [ ]:
# how to perform binning -> bins on a variable

superstore['Sales']

In [ ]:
# this is the process of creating bins of a variable -> small boxes where you fit different ales values
"""
1 - 200 -> "low"
201 - 400 -> "medium"
401 - 600 -> "high"
> 601 -> "very high"
"""

In [ ]:
# cut in 5 equally spaced bins for the sales column
labels = ["Very Low", "Low", "Moderate", "High", "Very High"]
bins = pd.cut(superstore['Sales'],5, labels = labels)
bins.value_counts()

In [ ]:
#check result
display(superstore['Sales'].min())
display(superstore['Sales'].max())
print('size of bins = ', (superstore['Sales'].max()-superstore['Sales'].min())/5) # the cut is doing the following --> a bin size is given by the diference betweein the min and the max value and devided by the number of bins you want
display(superstore[superstore['Sales']<1591.125+2.995].shape) # the lower bin is the values smaller that the bin size plus the lower value
display(superstore[superstore['Sales']>7958.58-1591.125].shape) # the last bin is the values bigger that the maximum value minus the bin size

In [ ]:
# qcut in 5 equaly filled bins. Why the imbalance? Because we have Repeated values --> they will fit in the previous bin
qbins = pd.qcut(superstore['Sales'],5, labels = labels)
qbins.value_counts()

In [ ]:
# cut in 5 designed bins
labels = ["Very Low", "Low", "Moderate", "High", "Very High"]
bins = pd.cut(superstore['Sales'],[0,10,100,1000,2000,6000], labels = labels)
bins.value_counts()

In [ ]:
superstore['Sales'].hist(bins = 5)

In [ ]:
# do it yourself: create 3 equally spaced bins for profit
# do it yourself: create one bin for negative profit and 3 equally sized bins for positive profits (there is a problem in the pandas library)

In [ ]:
# solution 2

# split into negative and positive and do the cut

## negative
n_labels = ['negative']

n_profit = superstore[superstore['Profit']< 0]

n_bin =  pd.cut(n_profit['Profit'], 1, labels = n_labels)
print(n_bin.value_counts())

## postive
p_labels = ['low', 'mid', 'hig']

p_profit = superstore[superstore['Profit']> 0]

p_bin =  pd.cut(p_profit['Profit'], 3, labels = p_labels)

print(p_bin.value_counts())

# Grouping

In [ ]:
# from a data analysis point of view there are two types of columns:

# - Dimensions -> categorical variables -> Segment, City, Country -> they cannot be aggregated using typical maths operators -> sum, doesnt work
# - Measures -> numerical variables -> can be aggregated

# We sometimes are able to turn measures into dimensions by binning e.g. low risk, medium, high, very high

# normally we represent measures as a function of dimensions -> sales per country, profit per state. This is done with group by

In [ ]:
# Group by similar to SQL, but with a lot of flexibility
#### tip for sintax:  groupby(the dimensions you want to group by).agg({measure(s) to aggregate: aggegation function(s)}) ####

superstore.groupby(['Segment']).agg({'Sales':'sum','Order Date':'min'})

#alternatively, if we only have one column we can use the alternative syntax

superstore.groupby(['Segment'])['Sales'].agg(sum)

# grouped by dimensions become the new index!!

#superstore.groupby(['Segment','State']).agg({'Sales':'sum','Order Date':'min','Customer ID':'nunique'}).head()

Segment
Consumer       1.529716e+06
Corporate      9.200083e+05
Home Office    4.883645e+05
Name: Sales, dtype: float64

In [ ]:
#Multi-indexes can be hard to manage
#Tip, you can turn the index back into columns by using reset_index()
superstore.groupby(['Segment','State']).agg({'Sales':'sum','Order Date':'min','Customer ID':'nunique'}).reset_index().head()

    Segment                              State  ...  Order Date Customer ID
0  Consumer                            Abruzzi  ...  04/06/2017           4
1  Consumer  Alsace-Champagne-Ardenne-Lorraine  ...  01/09/2015          44
2  Consumer                          Andalusía  ...  01/02/2016          31
3  Consumer                            Antwerp  ...  01/01/2016           9
4  Consumer                             Apulia  ...  02/02/2016          23

[5 rows x 5 columns]

In [ ]:
# what if I want to define my own aggregation operation?
# you define your own aggregation function

def range_aggregation(x):
    return max(x) - min(x)

range_aggregation([2,4,6,8,10])

8

In [ ]:
# perform your usual group by, but then in the aggregation method, call the function you just defined
superstore.groupby('Segment')['Sales'].agg(range_aggregation)

Segment
Consumer       5782.065
Corporate      7954.500
Home Office    5269.050
Name: Sales, dtype: float64

In [ ]:
#do it yourself: find the average profitability and total Sales per shipping mode


# solution

superstore.groupby('Ship Mode').agg({'Profit': 'mean', 'Sales': 'count'})

                   Profit  Sales
Ship Mode
First Class     32.107759   1454
Same Day        46.551137    516
Second Class    36.584810   1976
Standard Class  37.963840   6054

#------------------------------- Data Manipulation --------------------------------

# Row operations - Apply

In [ ]:
# We have seen we can make a function over all rows by combining columns
superstore['profit ratio'] = superstore['Profit']/superstore['Sales']
superstore.head()

   Row ID         Order ID  ... not Large Quantity profit ratio
0       1  ES-2017-1311038  ...               True     0.500000
1       2  ES-2017-1311038  ...              False     0.000000
2       3  ES-2017-1311038  ...               True     0.457801
3       4  ES-2017-1311038  ...               True     0.259128
4       5  ES-2017-1311038  ...               True     0.239754

[5 rows x 29 columns]

In [ ]:
# what if I want to perform more complicated operations on the rows?
# I want to calculate if a row is not profitable (profit < 0), profitable (0=< profit < 100) or very profitable (profit>100)

# define a function that creates your logic
# the input will be the value of the profit of each row

def profitable(x):
    if x<0:
        return 'Not Profitable'
    elif x<100:
        return 'Profitable'
    else:
        return 'Very Profitable'

profitable(-10)

'Not Profitable'

In [ ]:
# applying a function that you want that has some logic in it to a row we use the apply method()
superstore['Profit'].apply(profitable)

0            Profitable
1            Profitable
2            Profitable
3            Profitable
4            Profitable
             ...
9995         Profitable
9996         Profitable
9997         Profitable
9998    Very Profitable
9999         Profitable
Name: Profit, Length: 10000, dtype: object

In [ ]:
superstore['Profit-Flag'] = superstore['Profit'].apply(profitable)
superstore.head()

# the apply method, will apply the function given to each row in the dataframe, with the respective argument

   Row ID         Order ID  ... profit ratio Profit-Flag
0       1  ES-2017-1311038  ...     0.500000  Profitable
1       2  ES-2017-1311038  ...     0.000000  Profitable
2       3  ES-2017-1311038  ...     0.457801  Profitable
3       4  ES-2017-1311038  ...     0.259128  Profitable
4       5  ES-2017-1311038  ...     0.239754  Profitable

[5 rows x 30 columns]

In [ ]:
#'10/02/2017' - '07/02/2017' --> you can't do this

In [ ]:
#datetime.strptime('10/02/2017','%d/%m/%Y')-datetime.strptime('07/02/2017','%d/%m/%Y')

In [ ]:
# What if I want a function that uses data from multiple columns?
# For example I want to see if the dat between shipping and Ordering is larger than 7 days and flag the order as 'delayed' in that case

# use a function that take a whole row as an argument

#this is a good time to learn about dates and timestamps. You can find some info here:
#https://docs.python.org/3/library/datetime.html
from datetime import datetime
from datetime import timedelta

def delayed(row):
    delay = datetime.strptime(row['Ship Date'],'%d/%m/%Y')-datetime.strptime(row['Order Date'],'%d/%m/%Y')
    #essentially converts the date strings from the original table into internal time representations and computes the difference in times
    if delay>timedelta(days=7):
        #Timedelta represent a period of x days
        return 'Delayed'
    else:
        return 'On-time'

#datetime.strptime('10/02/2017','%d/%m/%Y')-datetime.strptime('07/02/2017','%d/%m/%Y')

In [ ]:
#to run your function over all rows, you ahve to pass along the argument "axis=1"
superstore['Delayed?'] = superstore.apply(delayed, axis=1)
superstore.head()

   Row ID         Order ID  Order Date  ... profit ratio Profit-Flag Delayed?
0       1  ES-2017-1311038  07/02/2017  ...     0.500000  Profitable  On-time
1       2  ES-2017-1311038  07/02/2017  ...     0.000000  Profitable  On-time
2       3  ES-2017-1311038  07/02/2017  ...     0.457801  Profitable  On-time
3       4  ES-2017-1311038  07/02/2017  ...     0.259128  Profitable  On-time
4       5  ES-2017-1311038  07/02/2017  ...     0.239754  Profitable  On-time

[5 rows x 31 columns]

In [ ]:
superstore['Segment'].value_counts()

Consumer       5186
Corporate      3077
Home Office    1737
Name: Segment, dtype: int64

In [ ]:
superstore['Ship Mode'].value_counts()

Standard Class    6054
Second Class      1976
First Class       1454
Same Day           516
Name: Ship Mode, dtype: int64

In [ ]:
#do it yourself: create a function that categorizes an order as "Priority 1" if
# - the Segment is Corporate and ship mode is First or Second Class
# - the ship mode is First Class
#and "Priority 2" otherwise

In [ ]:
# solution
def priority(row):
  if (row['Segment'] == 'Corporate') & ((row['Ship Mode'] == 'First Class') | (row['Ship Mode'] == 'Second Class')):
    return 'Priority 1'
  elif (row['Ship Mode'] == 'First Class'):
    return 'Priority 1'
  else:
    return 'Priority 2'

superstore['Priority'] = superstore.apply(priority, axis = 1)

superstore.tail(20)

# Merging

In [ ]:
# Merging is the way to cross information from multiple datasources.
#It is functionally the same as JOIN from SQL, even in the names of the methods
returns = pd.read_excel("Sample - EU Superstore.xlsx",sheet_name = "Returns")

In [ ]:
display(returns.shape)
returns.head()

(284, 2)

          Order ID Returned
0  ES-2017-5389384      Yes
1  ES-2017-3638264      Yes
2  IT-2016-1498487      Yes
3  IT-2017-3941500      Yes
4  ES-2015-4840257      Yes

In [ ]:
display(superstore.shape)

superstore.head()

In [ ]:
#if we want details only on the returned orders
just_returned_details = pd.merge(left = superstore,
                                 right = returns,
                                 how = 'inner',
                                 left_on = "Order ID",
                                 right_on= "Order ID")
display(just_returned_details.shape)
just_returned_details.head()

(637, 33)

   Row ID         Order ID  Order Date  ... Delayed?    Priority Returned
0      27  ES-2017-2557751  28/02/2017  ...  On-time  Priority 2      Yes
1      28  ES-2017-2557751  28/02/2017  ...  On-time  Priority 2      Yes
2      29  ES-2017-2557751  28/02/2017  ...  On-time  Priority 2      Yes
3      60  ES-2016-4569090  29/08/2016  ...  On-time  Priority 2      Yes
4      61  ES-2016-4569090  29/08/2016  ...  On-time  Priority 2      Yes

[5 rows x 33 columns]

In [ ]:
# if we want to keep all orders, and just flag the returned ones, we can do a left merge
just_returned_addition = pd.merge(left = superstore,
                                  right = returns,
                                  how = 'left',
                                  left_on = "Order ID",
                                  right_on= "Order ID")
display(just_returned_addition.shape)
just_returned_addition.head()

(10000, 33)

   Row ID         Order ID  Order Date  ... Delayed?    Priority Returned
0       1  ES-2017-1311038  07/02/2017  ...  On-time  Priority 2      NaN
1       2  ES-2017-1311038  07/02/2017  ...  On-time  Priority 2      NaN
2       3  ES-2017-1311038  07/02/2017  ...  On-time  Priority 2      NaN
3       4  ES-2017-1311038  07/02/2017  ...  On-time  Priority 2      NaN
4       5  ES-2017-1311038  07/02/2017  ...  On-time  Priority 2      NaN

[5 rows x 33 columns]

# Melt and verticalization

In [ ]:
# For some applications (like data visualization) we will want information to be verticalized, so we can filter on columns rather than rows
# the typical example here is the calendar

orders = pd.read_excel("orders.xlsx")
orders.head()

#We may want to filter by month, for example

          Order ID  Ship Date       Ship Mode  ...       Oct       Nov       Dec
0  ES-2014-1846006 2016-01-03     First Class  ...  0.593755  0.624222  0.666361
1  ES-2014-1846006 2016-01-03     First Class  ...  0.258289  0.523348  0.629398
2  ES-2014-1846006 2016-01-03     First Class  ...  0.738800  0.869995  0.182114
3  ES-2015-1001989 2015-03-15     First Class  ...  0.757322  0.921393  0.983744
4  ES-2015-1010958 2015-06-07  Standard Class  ...  0.599237  0.209094  0.662120

[5 rows x 20 columns]

In [ ]:
#pd.melt( data to melt, columns to keep)
columns = ['Order ID', 'Ship Date', "Ship Mode", 'City', 'State', 'Country','Region','Product ID']
vertical = pd.melt(orders, id_vars= columns)
vertical

               Order ID  Ship Date  ... variable     value
0       ES-2014-1846006 2016-01-03  ...      Jan  0.296785
1       ES-2014-1846006 2016-01-03  ...      Jan  0.920646
2       ES-2014-1846006 2016-01-03  ...      Jan  0.879809
3       ES-2015-1001989 2015-03-15  ...      Jan  0.258669
4       ES-2015-1010958 2015-06-07  ...      Jan  0.283790
...                 ...        ...  ...      ...       ...
119923  IT-2018-5975833 2018-07-23  ...      Dec  0.787444
119924  IT-2018-5984498 2018-10-06  ...      Dec  0.624923
119925  IT-2018-5989338 2018-04-18  ...      Dec  0.619906
119926  IT-2018-5992832 2018-08-17  ...      Dec  0.802197
119927  IT-2018-5992832 2018-08-17  ...      Dec  0.972079

[119928 rows x 10 columns]

In [ ]:
display(orders.shape)
display(vertical.shape)

(9994, 20)

(119928, 10)

# Dummy Variables and one-hot encoding

In [ ]:
# to_dummies -> very important in machine learning to turn categorical variables into numerical ones without giving them numeric meaning

orders.head()

          Order ID  Ship Date       Ship Mode  ...       Oct       Nov       Dec
0  ES-2014-1846006 2016-01-03     First Class  ...  0.593755  0.624222  0.666361
1  ES-2014-1846006 2016-01-03     First Class  ...  0.258289  0.523348  0.629398
2  ES-2014-1846006 2016-01-03     First Class  ...  0.738800  0.869995  0.182114
3  ES-2015-1001989 2015-03-15     First Class  ...  0.757322  0.921393  0.983744
4  ES-2015-1010958 2015-06-07  Standard Class  ...  0.599237  0.209094  0.662120

[5 rows x 20 columns]

In [ ]:
# one hot encoding of a categorical variable
# get_dummies(dataframe to get dummies, column(s) you want to make dummies)
pd.get_dummies(orders, columns = ['Ship Mode'])

             Order ID  ... Ship Mode_Standard Class
0     ES-2014-1846006  ...                        0
1     ES-2014-1846006  ...                        0
2     ES-2014-1846006  ...                        0
3     ES-2015-1001989  ...                        0
4     ES-2015-1010958  ...                        1
...               ...  ...                      ...
9989  IT-2018-5975833  ...                        1
9990  IT-2018-5984498  ...                        1
9991  IT-2018-5989338  ...                        1
9992  IT-2018-5992832  ...                        0
9993  IT-2018-5992832  ...                        0

[9994 rows x 23 columns]

# Data cleaning

In [ ]:
# basic data cleaning operations

# check before labtime -> check the df.dropna -> drops rows/columns that contain null values

# the duplicates method goes to each column and checks if the values inside are the same for each row

# drop duplicates

orders.drop_duplicates().shape

In [ ]:
orders = orders.drop('Product ID', axis = 1)
orders = orders.drop('Product Name', axis = 1)
orders = orders.drop('Sales', axis = 1)
orders = orders.drop('Profit', axis = 1)
orders = orders.drop('Discount', axis = 1)
orders = orders.drop('Quantity', axis = 1)
orders = orders.drop('profit ratio', axis = 1)
orders = orders.drop('Profit-Flag', axis = 1)
orders = orders.drop('Row ID', axis = 1)
orders = orders.drop('new_column', axis = 1)

orders

In [ ]:
orders.drop_duplicates().shape